body{
    font-family: "Roboto", sans-serif;
    color: #212121;
}

a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
/*цвет лого*/
.logo
{
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1,192;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.logo-link{
    font-family: "Raleway",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 1,192;
    letter-spacing: 0.03em;
    color: #212121;
}

.navigation-list-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-list-link:hover,
.navigation-list-link:focus{
   color: #2196F3;
}

.header-mail-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
   color: #212121;
}
.header-mail-link:hover,
.header-mail-link:focus{
    color: #2196F3;
}
.header-tel-linl{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  color: #2196F3;
} 
.header-tel-link:hover,
.header-tel-linl:focus{
   color: #2196F3;
}
.hero{
    /* Bg */
left: 0px;
top: 80px;
background: #2F303A;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    background-color: #2F303A;
}
/*КНОПКА*/

.modal-btn{
    background-color: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.185;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

h1, h2, h3, h4 {
    font-family: "Roboto",sans-serif; 
}
h1 {
    font-size: 44px;
    line-height: 1.36;
    color: #FFFFFF;
}
h2{
    font-size: 36px;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
h3{
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    
}
h4{

}

